body {
	text-align: center;
	font-family: Helvetica;
}

h1 {
	font-size: 5rem;
}

table {
	margin: auto;
	font-size: 4rem;
	border-spacing: 8rem 2rem;
}

td {
	color: red;
}

.note {
	font-size: 1em;
	padding: 0px;
	Margin: 0px;
}
