* {
    text-align: center;
	font-family: Helvetica;
}

h1 {
	font-size: 5em;
}

table {
    margin: auto;
	border-spacing: 2em;
	font-size: 5em;
}

td {
	color: red;
}

tr {
	padding: 20%;
}
	
